.formControl input,
.formControl textarea {
    border: solid blue 2px;
    border-radius: 5px;
    margin: 5px;
    min-height: 40px;
    min-width: 200px;
    text-align: center;
}

.btn {
    border-radius: 5px;
    background-color: rgb(70, 226, 70);
    margin: 5px;
    min-height: 40px;
    min-width: 200px;
}



.formControl.error input,
.formControl.error textarea {
    border: solid red 2px
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    width: 200px;
    border: solid red 2px;
    border-radius: 2px;
    color: red;
    font-weight: 700;
    padding: 5px
}