.profileInfo {
    display: grid;
    justify-items: justify;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(6rem, auto);
    background-color: palegoldenrod;
    }

    .userPhoto {

        grid-row: 1/3;
    }

    .userPhoto img {
        max-width: 200px
    }

    .userAboutItemName {
        font-weight: 700;
        font-size: 2em;
        margin-bottom: 1em;
    }

    .userAboutItemHeading {
        font-weight: 700;
        text-transform: uppercase;
    }
    .userContacts {
        margin: 0;
        padding: 0;
        font-weight: 700;
        text-transform: uppercase;
    }
    .userContacts li {
        padding-left: 5px;
        font-weight: 400;
        text-transform: none;
    }
    .savePhoto {
        color: palegoldenrod;
        justify-self: center;
    }