.profileInfo {
    display: grid;
    justify-items: justify;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(6rem, auto);
    background-color: palegoldenrod;
    }

    .userPhoto {
        grid-row: 1/3;
    }

    .userPhoto img {
        max-width: 200px
    }

    .userAboutItemName {
        font-weight: 700;
        font-size: 2em;
        margin-bottom: 1em;
    }

    .userAboutItemHeading {
        font-weight: 700;
        text-transform: uppercase;
    }

    .savePhoto {
        color: palegoldenrod;
        justify-self: center;
    }

    .userContactsItem {
        padding-left: 10px;
    }