.header {
    grid-area: header;
    background-color: blue;
  }

.header img {
    width: 70px;
}

.loginBlock {
  float: right;
  color: white;
  margin: 1.3rem 5rem;
}

.loginBlock a {
  color: white;
}