.app-wrapper {
  margin: 0 auto;
  display: grid;
  max-width: 1200px;
  grid-template-areas: 
    "header header"
    "sideBar content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px; 
  }

  .btn {
    border-radius: 5px;
    background-color: rgb(70, 226, 70);
    margin: 5px;
    min-height: 40px;
    min-width: 200px;
}



